
@media screen and (max-width:576px) {
.nav-container,
nav ul {
    width:100%;
    flex-direction: column;
}
.logo-container{
    width:100%;
    justify-content: center;
    
}
.nav-logo,
.nav-title{
    padding:2px;
    font-size: 1.5rem;

}
.banner-container{
    flex-direction: column-reverse;
}
.banner-img{
    width:100%;
}
.online-game-container{
    flex-direction: column;
    gap:20px;
}
.play-instantly{
    flex-direction: column-reverse;
}
}