
@media screen and (max-width:576px) {
main,
.banner-container {
    width: 100%;
    margin: 100px auto;
}
.nav-container,
nav ul {
    width:100%;
    flex-direction: column;
    gap:30px;
}

.nav-container{
   padding-top:50px;
   background-color: #FFF;
}
.logo-container{
    width:100%;
    justify-content: center;
    
}
.nav-logo{
    width:12%;
}
.nav-logo,
.nav-title{
    padding:2px;
    font-size: 1.5rem;
}
.banner-container{
    background-image:none;
    width:100%;
    flex-direction: column-reverse;
    margin:50px 0;
}
.banner-content{
    background-image: url('images/Group 14.png');
    background-size:cover;
    background-repeat: no-repeat;
    padding-left:0;
    width:80%;
    text-align: center;
    margin:auto;
}
.banner-text {
    padding-top:20px;
    margin:auto;
    width:80%;
    font-size: 2rem;
}
.banner-title {
    font-size: 4rem;
    font-weight: 800;

}

.primary-description {
    font-size: 0.8rem;
}
.icons-text {
     
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:2px 0;
    
}
.banner-btn {
    gap:5px;
    justify-content: center;
    padding-bottom:20px;
}
.btns {
    
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    gap: 10px;
}
.banner-img-container{
    padding-bottom:50px;
    padding-right:0;
    width:80%;
    margin:auto;
}
.banner-img{
    width:100%;
    
}
.online-games-title {
    
    width:100%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.online-game-container{
    width:100%;
    flex-direction: column;
    gap:20px;
}
.card .overlay {
    height:91%;
}
.play-instantly{
    width:90%;
    margin:auto;
    flex-direction: column-reverse;
}
.play-instantly-img-container{
    width:80%;
    margin:auto;
}
.game-img1{
    width:80%;
    margin:auto;
}
.img1{
    width:107%;
}
.img2{
    width:50%;
}

.game-img2{
    
    margin-top:-100px;
    margin-left:-40px;
}
.play-instantly-title,
.para{
    text-align:center;
}
.arcade-games{
    margin:50px 0;
}
.footer-logo-container{
    padding-bottom:0px;
    justify-content: center;
    width:100%;
}
.footer-title{
    font-size: 1.5rem;
}
#footer-logo{
    width:40px;
}
.footer-nav ul {
    flex-wrap: wrap;
}
.footer-nav ul{
    padding:20px;
}
.footer-nav ul li {
    padding:10px;
}
.social-icon{
    margin:20px;
}
.policys ul li a {
    padding: 5px;
    
}
}